<article class="project dreamcatcher">
  <header class="introduction">
    <ul class="meta">
      <li>
        <h3>Role</h3>
        Lead Designer</li>
      <li>
        <h3>Context</h3> 
        School Project</li>
      <li>
        <h3>Date</h3> 
        December '13</li>
      <li>
        <h3>Platforms</h3> 
        Desktop, Tablet</li>
    </ul><!-- ul.meta -->
    <div class="clear"></div>
    <h1><img src="images/dreamcatcher/dreamcatcher-logo.png" alt="Nike" /></h1>
    <h2>Life is all about the choices you make. <em>Embody a amateur runner<br />training for the NYC marathon, make decisions, write your story.</em></h2>
    <div class="arrow no-txt">
      Look down
    </div>
  </header><!-- header.introduction -->
  <section class="brief">
    <div class="grid">
      <h2 class="default"><span>1</span>Mission</h2>
      <p class="introduction">Dreamcatcher is a social platform where anybody can anonymously recount their dreams. The community is all about having fun reading the most weird and creepy stories, and trying to find their meaning.</p>
      <div class="rel">
        <img class="iso animate-1150" src="images/dreamcatcher/dreamcatcher-iso.png" alt="" />
      </div>
      <div class="clear"></div>
      <p class="unit half left">DreamCatcher is a school project at Hetic. We were asked to create a social platform using Wordpress. I worked on this with Laure Boutmy, Anthony Roux, Damien Rantoanison and Margot Bottet.</p>
      <p class="unit half right">I was responsible for the whole artistic direction, and I designed all the screens, both the desktop and mobile versions. I enjoyed it a lot, I wanted to create a special atmosphere through a highly graphic interface, with a lot of tiny details.</p>
      <div class="clear"></div>
    </div>
  </section><!-- section.brief -->
  
  <section class="desktop">
    <div class="grid">
      <h2 class="default"><span>2</span>Website</h2>
      <p class="introduction">I focused on creating a proper browsing and reading experience. This was quite a challenge, because the interface needed to have a lot of personnality and be easy to use at the same time.</p>

      <section class="audio-post">
        <div class="unit third--one text">
          <h3>Audio<span>post</span></h3>
          <hr class="dotted" />
          <p>Apart from the classic written posts, there are audio posts that the user can record using the Twilio API. </p>
        </div>
        <div class="unit third--two-three">
          <img src="images/dreamcatcher/audio-post.png" alt="Audio post" />
        </div>
        <div class="clear"></div>
      </section><!-- section.audio-post -->

      <section class="milestones">
        <div class="unit third--one-two rel">
          <img src="images/dreamcatcher/milestones-1.png" alt="Milestones" />
          <img src="images/dreamcatcher/milestones-2.png" alt="Milestones" />
          <img src="images/dreamcatcher/milestones-3.png" alt="Milestones" />
        </div>
        <div class="unit third--three text">
          <h3>Community's<span>Milestones</span></h3>
          <hr class="dotted" />
          <p>Several types of special posts were imagined to bring visual rhythm to the feed, as well as providing insightful facts about the meaning of dreams and animate the community.</p>
        </div>
        <div class="clear"></div>
      </section><!-- section.milestones -->

      <section class="charts">
        
        <div class="unit third--one text">
          <h3>Dreams<span>Charts</span></h3>
          <hr class="dotted" />
          <p>Sometimes, you just want the very best of something. So we created a chart section, showcasing the best dreams, nightmares 
and most commented posts. </p>
        </div>
        <div class="unit third--two-three">
          <img src="images/dreamcatcher/charts-1.png" alt="Chartes" />
          <img src="images/dreamcatcher/charts-2.png" alt="Chartes" />
        </div>
        <div class="clear"></div>
      </section><!-- section.charts -->

    </div><!-- div.grid -->
    <section class="final-design end">
      <h2 class="final-design">Final <span>design</span></h2>
      <section class="slider">
        <nav>
          <ul>
            <li class="no-text active"></li>
            <li class="no-text"></li>
            <li class="no-text"></li>
            <li class="no-text"></li>
            <li class="no-text"></li>
            <li class="no-text"></li>
            <li class="no-text"></li>
            <li class="no-text"></li>
          </ul>
        </nav>
        <ul>
          <li class="grid active">
            <img class="page" src="images/dreamcatcher/desktop--final-design--1.png" alt="" />
            <img class="zoom top center" src="images/dreamcatcher/desktop--final-design--1-zoom.png" alt="" />
          </li>
          <li class="grid">
            <img class="page" src="images/dreamcatcher/desktop--final-design--2.png" alt="" />
            <img class="zoom top left" src="images/dreamcatcher/desktop--final-design--2-zoom.png" alt="" />
          </li>
          <li class="grid">
            <img class="page" src="images/dreamcatcher/desktop--final-design--3.png" alt="" />
            <img class="zoom top right" src="images/dreamcatcher/desktop--final-design--3-zoom.png" alt="" />
          </li>
          <li class="grid">
            <img class="page" src="images/dreamcatcher/desktop--final-design--4.png" alt="" />
            <img class="zoom top left" src="images/dreamcatcher/desktop--final-design--4-zoom.png" alt="" />
          </li>
          <li class="grid">
            <img class="page" src="images/dreamcatcher/desktop--final-design--5.png" alt="" />
            <img class="zoom top left" src="images/dreamcatcher/desktop--final-design--5-zoom.png" alt="" />
          </li>
          <li class="grid">
            <img class="page" src="images/dreamcatcher/desktop--final-design--6.png" alt="" />
            <img class="zoom top center" src="images/dreamcatcher/desktop--final-design--6-zoom.png" alt="" />
          </li>
          <li class="grid">
            <img class="page" src="images/dreamcatcher/desktop--final-design--7.png" alt="" />
            <img class="zoom top center" src="images/dreamcatcher/desktop--final-design--7-zoom.png" alt="" />
          </li>
          <li class="grid">
            <img class="page" src="images/dreamcatcher/desktop--final-design--8.png" alt="" />
            <img class="zoom top left" src="images/dreamcatcher/desktop--final-design--8-zoom.png" alt="" />
          </li>
        </ul>
      </section><!-- section.slider -->
    </section><!-- section.final-design -->
  </section><!-- section.desktop -->
  <section class="mobile-ready">
    <div class="grid">
      <h2 class="default"><span>3</span>Mobile</h2>
      <p class="introduction">Everybody wants to be able to scroll through other’s dreams on the go. obviously. That’s the reason why i created a responsive layout, <br />focusing on performance and readability.</p>
    </div><!-- div.grid -->
    <ul class="grid">
      <li class="unit third--one"><img src="images/dreamcatcher/mobile-ready--1.png" alt="Mobile ready" /></li>
      <li class="unit third--two"><img src="images/dreamcatcher/mobile-ready--2.png" alt="Mobile ready" /></li>
      <li class="unit third--three"><img src="images/dreamcatcher/mobile-ready--3.png" alt="Mobile ready" /></li>
      <li class="unit third--one"><img src="images/dreamcatcher/mobile-ready--4.png" alt="Mobile ready" /></li>
      <li class="unit third--two"><img src="images/dreamcatcher/mobile-ready--5.png" alt="Mobile ready" /></li>
      <li class="unit third--three"><img src="images/dreamcatcher/mobile-ready--6.png" alt="Mobile ready" /></li>
      <li class="unit third--one"><img src="images/dreamcatcher/mobile-ready--7.png" alt="Mobile ready" /></li>
      <li class="unit third--two"><img src="images/dreamcatcher/mobile-ready--8.png" alt="Mobile ready" /></li>
      <li class="unit third--three"><img src="images/dreamcatcher/mobile-ready--9.png" alt="Mobile ready" /></li>
    </ul>

	  <div class="clear"></div>
  </section><!-- section.mobile-ready -->
  <footer class="thanks">
    <h2>Thank you for watching.</h2>
  </footer><!-- footer.thanks -->
</article><!-- article.project -->
<nav id="next-project" class="nike">
  <a href="/nike" data-project="nike">
    <h1>
      <span>Next project</span>
      <img src="images/dreamcatcher/nike-logo.png" />
    </h1>
  </a>
</nav>