<article class="project game-of-thrones">
  <header class="introduction">
    <ul class="meta">
      <li>
        <h3>Role</h3>
        Lead designer</li>
      <li>
        <h3>Context</h3> 
        School project</li>
      <li>
        <h3>Date</h3> 
        November '13</li>
      <li>
        <h3>Platforms</h3> 
        Desktop, Mobile</li>
    </ul><!-- ul.meta -->
    <div class="clear"></div>
    <h1><img src="images/game-of-thrones/game-of-thrones-logo.png" alt="Game of Thrones" width="901px" height="119px"/></h1>
    <h2>Enriching the watching experience of GoT’s fans with a<br />one-of-a-kind desktop video player. Discover the thrill.</h2>
    <div class="arrow no-txt">
      Look down
    </div>
  </header><!-- header.introduction -->
  <section class="brief">
    <div class="grid">
      <h2 class="default"><span>1</span>Mission</h2>
      <p class="introduction">We built a full featured video player designed to enrich the viewing experience of the fans with social interactions, additional contents poping in sync with the episode and a gamification grid to reward users’ actions.</p>
      <div class="rel">
        <img class="iso animate-1150" width="1036px" height="527px" src="images/game-of-thrones/game-of-thrones-iso.png" alt="" />
      </div>
      <div class="clear"></div>
      <p class="unit half left">GoT Player is a school projet done with Laure Boutmy, Dorian Camilleri, Thomas Iturralde and Anthony Roux. We imagined a scenario where HBO would come to us with the intention to create a digital event to promote their TV series, create engagement and collect data.</p>
      <p class="unit half right">This project was very impressive. I created both the UX and the UI design, and I had a lot of fun all along the process : from defining the top-level framework to sweating the interface details to make sure it didn’t attract the eye too much.</p>
      <div class="clear"></div>
    </div>
  </section><!-- section.brief -->
  <section class="countdown">
    <div class="grid">
      <h2 class="default"><span>2</span>Countdown</h2>
      <p class="introduction">In our scenario, the episode would be available online at the same time it’s broadcasted on tv. so i created a landing page where people can start collecting badges by signing up with their social networks.</p>
      
      <section class="hours">
        <div class="unit third--one text">
          <h3>Counting<span>the hours</span></h3>
          <hr class="dotted" />
          <p>The landing page features a countdown to the exact time the episodes is viewable on the website, to make sure they don’t miss it.</p>
        </div>
        <div class="unit third--two-three">
          <img width="612px" height="221px" src="images/game-of-thrones/hours.png" alt="Hours" />
        </div>
        <div class="clear"></div>
      </section><!-- section.hours -->
      <section class="badges">
        <div class="unit third--one-two">
          <img width="624px" height="319px" src="images/game-of-thrones/badges.png" alt="Slider" />
        </div>
        <div class="unit third--three text">
          <h3>Game of Thrones<span>badges set</span></h3>
          <hr class="dotted" />
          <p>I wanted three things for the badges : to fit well within the interface, to look a bit like actual badges and to be beautiful - after all, they are rewards. The seven corners? For the seven kingdoms, but you had already guessed it.</p>
        </div>
        <div class="clear"></div>
      </section><!-- section.badges -->
    </div><!-- div.grid -->
    <section class="final-design">
      <h2 class="final-design">Final <span>design</span></h2>
      <section class="slider">
        <nav>
          <ul>
            <li class="no-text active"></li>
            <li class="no-text"></li>
            <li class="no-text"></li>
            <li class="no-text"></li>
          </ul>
        </nav>
        <div>
          <ul class="grid">
            <li class="active">
              <img width="1000px" height="700px" class="page" src="images/game-of-thrones/countdown--final-design--1.png" alt="" />
              <img width="514px" height="514px" class="zoom top left" src="images/game-of-thrones/countdown--final-design--1-zoom.png" alt="" />
            </li>
            <li>
              <img width="1000px" height="700px" class="page" src="images/game-of-thrones/countdown--final-design--2.png" alt="" />
              <img width="514px" height="514px"  class="zoom bottom center" src="images/game-of-thrones/countdown--final-design--2-zoom.png" alt="" />
            </li>
            <li>
              <img width="1000px" height="700px" class="page" src="images/game-of-thrones/countdown--final-design--3.png" alt="" />
              <img width="514px" height="514px"  class="zoom bottom left" src="images/game-of-thrones/countdown--final-design--3-zoom.png" alt="" />
            </li>
            <li>
              <img width="1000px" height="700px"class="page" src="images/game-of-thrones/countdown--final-design--4.png" alt="" />
              <img width="514px" height="514px" class="zoom top left" src="images/game-of-thrones/countdown--final-design--4-zoom.png" alt="" />
            </li>
          </ul>
        </div>
      </section><!-- section.slider -->
    </section><!-- section.final-design -->
  </section><!-- section.countdown -->
  <section class="player">
    <div class="grid">
      <h2 class="default"><span><span>3</span></span>Player</h2>
      <p class="introduction">It went through a lot of iterations to create the design of the player. the challenge was to find the perfect balance between an interface that’s easy to use and encourages interactions, and optimal watching conditions.</p>
      
      <section class="content">
        <div class="unit third--one text">
          <h3>Navigating through<span>the content</span></h3>
          <hr class="dotted" />
          <p>Additional contents are symbolized by dots that pop as soon as you’ve unlocked them. Even I wanted the interface to be easy to use and discrete, I also wanted it to look GoT-ish.</p>
        </div>
        <div class="unit third--two-three rel">
          <img width="440px" height="293px" src="images/game-of-thrones/content-2.png" alt="Content" />
        </div>
        <img width="1002px" height="92px" src="images/game-of-thrones/content-1.png" alt="Content" />
        <div class="clear"></div>
      </section><!-- section.content -->
      <section class="cards">
        <div class="unit third--one-two">
          <img width="671px" height="292px" src="images/game-of-thrones/cards.png" alt="Cards" />
        </div>
        <div class="unit third--three text">
          <h3>Sidebar<span>cards</span></h3>
          <hr class="dotted" />
          <p>Information about a character, a place or an event, statistics, GIFs, bonus videos, soundtrack, quizzes... these are the types of contents that I had to find a common template to showcase within the sidebar in a pleasing and inviting way.</p>
        </div>
        <div class="clear"></div>
      </section><!-- section.cards -->
      <section class="browser">
        <div class="unit third--one text">
          <h3>Going further<span>the browser</span></h3>
          <hr class="dotted" />
          <p>It’s the name I gave to this section that deploys when this user wants to know more about a certain type of content : read a biography, watch a making-of video or share a GIF on Tumblr.</p>
        </div>
        <div class="unit third--two-three">
          <img width="620px" height="255px" src="images/game-of-thrones/browser.png" alt="Browser" />
        </div>
        <div class="clear"></div>
      </section><!-- section.browser -->
    </div><!-- div.grid -->
    <section class="final-design">
      <h2 class="final-design">Final <span>design</span></h2>
      <section class="slider">
        <nav>
          <ul>
            <li class="no-text active"></li>
            <li class="no-text"></li>
            <li class="no-text"></li>
            <li class="no-text"></li>
            <li class="no-text"></li>
            <li class="no-text"></li>
            <li class="no-text"></li>
            <li class="no-text"></li>
          </ul>
        </nav>
        <div>
          <ul class="grid">
            <li class="active">
              <img width="1000px" height="700px" class="page" src="images/game-of-thrones/player--final-design--1.png" alt="" />
              <img width="514px" height="514px"  class="zoom top right" src="images/game-of-thrones/player--final-design--1-zoom.png" alt="" />
            </li>
            <li>
              <img width="1000px" height="700px" class="page" src="images/game-of-thrones/player--final-design--2.png" alt="" />
              <img width="514px" height="514px"  class="zoom bottom right" src="images/game-of-thrones/player--final-design--2-zoom.png" alt="" />
            </li>
            <li>
              <img width="1000px" height="700px" class="page" src="images/game-of-thrones/player--final-design--3.png" alt="" />
              <img width="514px" height="514px"  class="zoom top right" src="images/game-of-thrones/player--final-design--3-zoom.png" alt="" />
            </li>
            <li>
              <img width="1000px" height="700px" class="page" src="images/game-of-thrones/player--final-design--4.png" alt="" />
              <img width="514px" height="514px"  class="zoom top right" src="images/game-of-thrones/player--final-design--4-zoom.png" alt="" />
            </li>
            <li>
              <img width="1000px" height="700px" class="page" src="images/game-of-thrones/player--final-design--5.png" alt="" />
              <img width="514px" height="514px"  class="zoom bottom right" src="images/game-of-thrones/player--final-design--5-zoom.png" alt="" />
            </li>
            <li>
              <img width="1000px" height="700px" class="page" src="images/game-of-thrones/player--final-design--6.png" alt="" />
              <img width="514px" height="514px"  class="zoom top right" src="images/game-of-thrones/player--final-design--6-zoom.png" alt="" />
            </li>
            <li>
              <img width="1000px" height="700px" class="page" src="images/game-of-thrones/player--final-design--7.png" alt="" />
              <img width="514px" height="514px"  class="zoom bottom left" src="images/game-of-thrones/player--final-design--7-zoom.png" alt="" />
            </li>
            <li>
              <img width="1000px" height="700px" class="page" src="images/game-of-thrones/player--final-design--7.png" alt="" />
              <img width="514px" height="514px"  class="zoom bottom right" src="images/game-of-thrones/player--final-design--8-zoom.png" alt="" />
            </li>
          </ul>
        </div>
      </section><!-- section.slider -->
    </section><!-- section.final-design -->
  </section><!-- section.player -->
  <section class="mobile">
    <div class="grid">
      <h2 class="default"><span><span>4</span></span>Mobile</h2>
      <p class="introduction">It went through a lot of iterations to create the design of the player. the challenge was to find the perfect balance between an interface that’s easy to use and encourages interactions, and optimal watching conditions.</p>
      
      <section class="remote">
        <div class="unit third--one-two">
          <div class="iphone left">
            <img width="532px" height="944px" src="images/game-of-thrones/remote.png" alt="Mobile remote" />
          </div>
        </div>
        <div class="unit third--three">
          <h3>Mobile<span>remote</span></h3>
          <img width="320px" height="601px" class="mobile-shadow" src="images/game-of-thrones/remote-1.png" alt="Mobile remote" />
          <img width="320px" height="601px" class="mobile-shadow" src="images/game-of-thrones/remote-2.png" alt="Mobile remote" />
        </div>
        <div class="clear"></div>
      </section><!-- section.remote -->

      <section class="feed">
        <div class="unit third--one">
          <h3>Twitter<span>feed</span></h3>
          <img width="320px" height="601px" class="mobile-shadow" src="images/game-of-thrones/feed-1.png" alt="Twitter feed" />
          <img width="320px" height="601px" class="mobile-shadow" src="images/game-of-thrones/feed-2.png" alt="Twitter feed" />
        </div>
        <div class="unit third--two-three">
          <div class="iphone right">
            <img width="532px" height="944px" src="images/game-of-thrones/feed.png" alt="Twitter feed" />
          </div>
        </div>
        <div class="clear"></div>
      </section><!-- section.feed -->
    </div>
  </section><!-- section.mobile -->
  <footer class="thanks">
    <h2>Thank you for watching.</h2>
  </footer><!-- footer.thanks -->
  
</article><!-- article.project -->
<nav id="next-project" class="kolok">
  <a href="/kolok" data-project="kolok">
    <h1>
      Next project
      <span></span>
    </h1>
  </a>
</nav>