<article class="home">
  <h1><span>240</span> days of design</h1>
  <nav class="grid">
    <ul>
      <li class="my-warner" data-project="my-warner">
        <div></div>
        <a href="/my-warner"><span class="no-txt">My Warner</span></a>
      </li>
      <li class="wdmtg" data-project="wdmtg">
        <div></div>
        <a href="/wdmtg"><span class="no-txt">WDMTG</span></a>
      </li>
      <li class="game-of-thrones" data-project="game-of-thrones">
        <div></div>
        <a href="/game-of-thrones"><span class="no-txt">Game of Thrones</span></a>
      </li>
      <li class="kolok" data-project="kolok">
        <div></div>
        <a href="/kolok"><span class="no-txt">Kolok</span></a>
      </li>
      <li class="dreamcatcher" data-project="dreamcatcher">
        <div></div>
        <a href="/dreamcatcher"><span class="no-txt">Dreamcatcher</span></a>
      </li>
      <li class="nike" data-project="nike">
        <div></div>
        <a href="/nike"><span class="no-txt">Nike</span></a>
      </li>
    </ul>
  </nav>
</article>