<article class="home">
  <div class="grid">
    <h2>&mdash; Irgendwo in der tiefe gibt es ein licht &mdash;</h2>
    <h1><div>240</div><span>days of <span>design</span></span></h1>
    <p class="introduction">2013 &mdash; 2014 portfolio of Julien Perrière, a 22-years-old french designer.<br />Btw, he’s looking for an internship from July to September. </p>
    <img class="for-load" src="images/home/240-shadow-bg.png" alt="" />
  </div>
  <nav>
    <ul>
      <li class="my-warner">
        <div></div>
        <a href="/my-warner" data-home="my-warner"><span class="no-txt">My Warner</span></a>
      </li>
      <li class="wdmtg">
        <div></div>
        <a href="/wdmtg" data-home="wdmtg"><span class="no-txt">WDMTG</span></a>
      </li>
      <li class="game-of-thrones">
        <div></div>
        <a href="/game-of-thrones" data-home="game-of-thrones"><span class="no-txt">Game of Thrones</span></a>
      </li>
      <li class="kolok">
        <div></div>
        <a href="/kolok" data-home="kolok"><span class="no-txt">Kolok</span></a>
      </li>
      <li class="dreamcatcher">
        <div></div>
        <a href="/dreamcatcher" data-home="dreamcatcher"><span class="no-txt">Dreamcatcher</span></a>
      </li>
      <li class="nike">
        <div></div>
        <a href="/nike" data-home="nike"><span class="no-txt">Nike</span></a>
      </li>
    </ul>
  </nav>
  <p class="developer">Website brought to life by <a href="http://www.laureboutmy.com" target="_blank">Laure Boutmy</a></p>
</article>