<article class="infos">
  <img src="images/julien-perriere.png" alt="Julien Perrière" />
  <h1>Hi there, nice to meet you.</h1>
  <p>My name is Julien Perrière, I’m a 22-year-old designer currently located in Paris (France) where I study Internet-related things at HETIC. I’d love to tell you about how much I live/eat/sleep design, but I prefer letting my work &mdash;hopefully&mdash; speak for me. Thanks for stopping by!</p>
  <!-- 
  <hr class="dotted" />
  <p class="contact">I’m looking for a 4-months-long internship abroad, I pledge to bring french croissants on my first day.</p>
  <a href="#" id="hire">Hire Julien</a> -->
  <hr class="dotted" />
  <p class="contact">This portfolio was developed by Laure Boutmy, if you’re looking for an intern front-end developer with an eye for design, hire her.</p>
  <a href="http://www.laureboutmy.com" target="_blank">Hire Laure</a>

  <nav>
    <ul>
      <li><a href="http://www.twitter.com/julienperriere" target="_blank"><i class="twitter">Twitter</i></a></li>
      <li><a href="http://dribbble.com/julienperriere" target="_blank"><i class="dribbble">Dribbble</i></a></li>
      <li><a href="http://www.behance.net/julienperriere" target="_blank"><i class="behance">Behance</i></a></li>
    </ul>
  </nav>
</article>
<form class="contact">
  <h1>Drop me a line!</h1>
  <p>Open position, freelance inquiry or anything else, I’d be glad to hear from you.</p>
  <div class="error"></div>
  <input type="text" name="name" placeholder="Name" />
  <input type="email" name="email" placeholder="Email" />
  <textarea name="content" placeholder="Hello Julien,"></textarea>
  <button type="submit">Send the message</button><span class="message">Yay!</span>
  <nav>
    <ul>
      <li><a href="http://www.twitter.com/julienperriere" target="_blank"><i class="twitter">Twitter</i></a></li>
      <li><a href="http://dribbble.com/julienperriere" target="_blank"><i class="dribbble">Dribbble</i></a></li>
      <li><a href="http://www.behance.net/julienperriere" target="_blank"><i class="behance">Behance</i></a></li>
    </ul>
  </nav>
</form>