<article class="project my-warner">
  <header class="introduction">
    <ul class="meta">
      <li>
        <h3>Role</h3>
        Lead designer</li>
      <li>
        <h3>Context</h3> 
        School project</li>
      <li>
        <h3>Date</h3> 
        November '13</li>
      <li>
        <h3>Platforms</h3> 
        Desktop, Mobile</li>
    </ul><!-- ul.meta -->
    <div class="clear"></div>
    <h1><img src="images/my-warner/my-warner-logo.png" alt="My Warner" width="968px" height="131px"/></h1>
    <h2>Bringing the second screen experience to your<br />smartphone and tablet, the Warner Bros way.</h2>
    <div class="arrow no-txt">
      Look down
    </div>
  </header><!-- header.introduction -->
  <section class="brief">
    <div class="grid">
      <h2 class="default"><span>1</span>Mission</h2>
      <p class="introduction">My Warner is a companion app available on both the ios &amp; android  platforms. alongside the powerful social features already there, this redesigned version brings the second screen experience with contents  and interactions all in sync with your favorite warner bros movies.</p>
      <img class="iso" width="1001px" height="530px" src="images/my-warner/my-warner-iso.png" alt="My Warner" />
      <div class="clear"></div>
      <p class="unit half left">Warner Bros France and Mfg Labs had already collaborated with the successful launch of the My Warner cross-platform ecosystem. They partnered once again to add the second screen feature to their mobile app, alongside a complete redesign, an Android and an iPad version.</p>
      <p class="unit half right">I had the great luck during my internship at Mfg Labs to work on the design of My Warner. Under the direction of the great Martin Charpentier, I was responsible for the design of the whole Android application, as well as a few screens for the iPhone and the iPad.</p>
      <div class="clear"></div>
    </div>
  </section><!-- section.brief -->
  <section class="movies">
    <div class="grid">
      <h2 class="default"><span>2</span>Movies</h2>
      <p class="introduction">While watching a warner bros movie at home, simply fire the my warner app and it will automatically sync, bringing you awesome content at the right moment. our challenge was to find design patterns to make it fit every warner bros movies and that would invite the user to interact.</p>
    
      <section class="best-tweets">
        <div class="unit third--one-two">
          <img width="590px" height="475px" src="images/my-warner/best-tweets.png" alt="Best tweets" />
        </div>
        <div class="unit third--three text">
          <h3>Celebrities<span>best tweets</span></h3>
          <hr class="dotted" />
          <p>Here and there, expect to see one of your favorite celebrities’ feedback about the movie you’re watching.</p>
        </div>
        <div class="clear"></div>
      </section><!-- section.best-tweets -->
      <section class="quizzes">
        <div class="unit third--one text">
          <h3>Polls &amp;<span>quizzes</span></h3>
          <hr class="dotted" />
          <p>The landing page features a countdown to the exact time the episodes is viewable on the website, to make sure they don’t miss it.</p>
        </div>
        <div class="unit third--two-three">
          <img width="560px" height="240px" src="images/my-warner/quizzes.png" alt="Quizzes" />
        </div>
        <div class="clear"></div>
      </section><!-- section.quizzes -->
      <section class="facts">
        <div class="unit third--one-two">
          <img width="590px" height="475px" src="images/my-warner/facts.png" alt="Facts" />
        </div>
        <div class="unit third--three text">
          <h3>Movie<span>facts</span></h3>
          <hr class="dotted" />
          <p>If you want to know every nerdy fact about the movie, you’ll love My Warner : discover everything about the characters, the story, the places...</p>
        </div>
        <div class="clear"></div>
      </section><!-- section.facts -->
      <section class="statistics">
        <div class="unit third--one text">
          <h3>Realtime<span>statistics</span></h3>
          <hr class="dotted" />
          <p>All in sync with your movie, realtime stats push your watching experience to a whole new level.</p>
        </div>
        <div class="unit third--two-three">
          <img width="641px" height="222px" src="images/my-warner/statistics.png" alt="Hours" />
        </div>
        <div class="clear"></div>
      </section><!-- section.statistics -->
    </div><!-- div.grid -->
    <section class="final-design">
      <h2 class="final-design">Final <span>design</span></h2>
      <div>
        <ul class="grid">
          <li width="320px" height="601px" class="unit third--one"><img src="images/my-warner/movies--final-design--1.png" alt="" /></li>
          <li width="320px" height="601px" class="unit third--two"><img src="images/my-warner/movies--final-design--2.png" alt="" /></li>
          <li width="320px" height="601px" class="unit third--three"><img src="images/my-warner/movies--final-design--3.png" alt="" /></li>
          <li width="320px" height="601px" class="unit third--one"><img src="images/my-warner/movies--final-design--4.png" alt="" /></li>
          <li width="320px" height="601px" class="unit third--two"><img src="images/my-warner/movies--final-design--5.png" alt="" /></li>
          <li width="320px" height="601px" class="unit third--three"><img src="images/my-warner/movies--final-design--6.png" alt="" /></li>
        </ul>
      </div>
    </section><!-- section.final-design -->
  </section><!-- section.movies -->
  <section class="bonuses">
    <div class="grid">
      <h2 class="default"><span>3</span>Bonuses</h2>
      <p class="introduction">It went through a lot of iterations to create the design of the player. the challenge was to find the perfect balance between an interface that’s easy to use and encourages interactions, and optimal watching conditions.</p>
      
      <section>
        <div class="unit third--one-two">
          <img width="640px" height="1244px" src="images/my-warner/bonuses-1.png" alt="Bonuses" />
        </div>
        <div class="unit third--three">
          <img width="320px" height="601px" src="images/my-warner/bonuses-2.png" alt="Bonuses" />
          <img width="320px" height="601px" src="images/my-warner/bonuses-3.png" alt="Bonuses" />
        </div>
        <div class="clear"></div>
        <div class="unit third--one">
          <img width="320px" height="601px" src="images/my-warner/bonuses-5.png" alt="Bonuses" />
          <img width="320px" height="601px" src="images/my-warner/bonuses-6.png" alt="Bonuses" />
        </div>
        <div class="unit third--two-three">
          <img width="640px" height="1244px" src="images/my-warner/bonuses-4.png" alt="Bonuses" />
        </div>
        <div class="clear"></div>
      </section><!-- section -->
    </div><!-- div.grid -->
    
  </section><!-- section.bonuses -->
  <section class="profile">
    <div class="grid">
      <h2 class="default"><span>4</span>Profile</h2>
      <p class="introduction">with my warner, you get rewarded with points and badges for every action you make within the ecosystem. users can have an overview of all their badges in their profile, and check out their friends’ activity.</p>
    </div>
    <ul class="grid">
      <li class="unit third--one"><img width="320px" height="568px" src="images/my-warner/profile-1.png" alt="Profile" /></li>
      <li class="unit third--two"><img width="320px" height="568px" src="images/my-warner/profile-2.png" alt="Profile" /></li>
      <li class="unit third--three"><img width="320px" height="568px" src="images/my-warner/profile-3.png" alt="Profile" /></li>
      <li class="unit third--one"><img width="320px" height="568px" src="images/my-warner/profile-4.png" alt="Profile" /></li>
      <li class="unit third--two"><img width="320px" height="568px" src="images/my-warner/profile-5.png" alt="Profile" /></li>
      <li class="unit third--three"><img width="320px" height="568px" src="images/my-warner/profile-6.png" alt="Profile" /></li>
    </ul>
  </section><!-- section.profile -->
  <section class="icon">
    <div class="grid">
      <h2 class="default"><span>5</span>Icon</h2>
      <p class="introduction">we started working on the app before ios7 was publicly released, so we went through a lot of iterations to make sure it was consistent with the new design guidelines and wth the soul of warner bros and my warner. </p>
      
      <section class="wireframes">
        <div class="unit third--one">
          <div class="rel">
            <img width="252px" height="252px" src="images/my-warner/icon--grid-1.png" alt="Icon" />
            <img width="160px" height="187px" src="images/my-warner/icon--grid-2.png" alt="Icon" />
          </div>

        </div>
        <div class="unit third--two-three">
          <div class="rel">
            
            <img width="252px" height="252px" src="images/my-warner/icon--final-4.png" alt="Icon" />
            <img width="252px" height="252px" src="images/my-warner/icon--final-3.png" alt="Icon" />
            <img width="252px" height="252px" src="images/my-warner/icon--final-2.png" alt="Icon" />            
            <img width="252px" height="252px" src="images/my-warner/icon--final-1.png" alt="Icon" />
          </div>
        </div>
        <div class="clear"></div>
      </section><!-- section -->
    </div><!-- div.grid -->
    
  </section><!-- section.icon -->
  <section class="ipad">
    <div class="grid">
      <h2 class="default"><span>6</span>iPad</h2>
      <p class="introduction">Alongside the android app and a few screens for the iphone, i had the chance to work on early designs for the ipad app. i wanted it to take full advantage of the beautiful and large screen. i worked on the home screen and all the screens of the movie sync feature.</p>
      
      <section>
        <div class="ipad">
          <img width="813px" height="610px" src="images/my-warner/ipad-1.png" alt="iPad" />
        </div>
        <div class="rel">
          <img width="813px" height="307px" src="images/my-warner/ipad-2.png" alt="iPad" />
        </div>
        <div class="clear"></div>
      </section><!-- section -->
    </div><!-- div.ipad -->
    
  </section><!-- section.icon -->
  <footer class="thanks">
    <h2>Thank you for watching.</h2>
    <a href="" class="app-store no-txt">Download on the App Store</a>
    <a href="" class="google-play no-txt">Download on the App Store</a>
    <p>Copyright &copy; 2013 Warner Bros. All Rights Reserved.<br />
This page presents the design work I did for this project, some contents and features may differ from<br />the released app, as my internship ended during the development phase.</p>
  </footer><!-- footer.thanks -->
  
</article><!-- article.project -->
<nav id="next-project" class="wdmtg">
  <a href="/wdmtg" data-project="wdmtg">
    <h1>
      Next project
      <span></span>
    </h1>
  </a>
</nav>