<article class="project nike">
  <header class="introduction">
    <ul class="meta">
      <li class="unit quarter">
        <h3>Role</h3>
        Lead Designer</li>
      <li class="unit quarter">
        <h3>Context</h3> 
        School Project</li>
      <li class="unit quarter">
        <h3>Date</h3> 
        December 2013</li>
      <li class="unit quarter">
        <h3>Platforms</h3> 
        Desktop</li>
    </ul><!-- ul.meta -->
    <div class="clear"></div>
    <h1><img width="530px" height="222px" src="images/nike/nike-logo.png" alt="Nike" /></h1>
    <h2>Life is all about the choices you make. Embody an amateur runner<br />training for the NYC marathon, make decisions, write your story.</h2>
    <div class="arrow no-txt">
      Look down
    </div>
  </header><!-- header.introduction -->
  <section class="brief">
    <div class="grid">
      <h2 class="default"><span>1</span>Mission</h2>
      <p class="introduction">“Nike - Écris ton histoire” is a fictive project : an interactive video experience through which the user lives the everyday-life of an amateur runner, makes decisions for him by writing into his diary, and sees the immediate outcome.</p>
    </div>
    <div class="rel">
      <img class="iso animate-1150" width="1034px" height="526px" src="images/nike/nike-iso.png" alt="" />
    </div>
    <div class="clear"></div> 
    <div class="grid">
      <p class="unit half left">This is a project we had to do within a two weeks long period, from finding the idea to shipping the final product. I proudly did it with Julien Acquaviva, Kévin Chapron, Jim Laurie, Lucie Reitz and Jérémy Zaloga.</p>
      <p class="unit half right">I was responsible for all the design for this project, both UX and UI. Due to the really tight deadline, I had to deliver real quick and work closely with the front-end developer to make sure that the quality didn’t suffer the lack of time.</p>
      <div class="clear"></div>
    </div>
  </section><!-- section.brief -->

  <section class="final-design end">
    <div class="grid">
      <h2 class="default"><span>2</span>Design</h2>
      <p class="introduction">I had a lot of fun at every step of the process : from defining an effective framework to sweating the graphic details. I wanted the most discrete interface possible, and the video content to come first. But this was not only about video : i had to think of ways of making the whole experience truly responsive and immersive.</p>

      <section class="chapters">
        <div class="unit third--one text">
          <h3>Story<span>progression</span></h3>
          <hr class="dotted" />
          <p>Looking at the sticky bar, the user can appreciate his progress through the story and check out the chapters titles.</p>
        </div>
        <div class="unit third--two-three">
          <img width="534px" height="196px" src="images/nike/chapters.png" alt="Chapters" />
        </div>
        <div class="clear"></div>
      </section><!-- section.chapters -->

      <section class="all-about-you">
        <div class="unit third--one-two">
          <img width="591px" height="255px" src="images/nike/all-about-you.png" alt="All about you" />
        </div>
        <div class="unit third--three text">
          <h3>you're<span>the hero</span></h3>
          <hr class="dotted" />
          <p>We wanted the experience to be about you, not anyone else. Users have their own profile, with their own info.</p>
        </div>
        <div class="clear"></div>
      </section><!-- section.all-about-you -->

      <section class="sports-data">
        <div class="unit third--one text">
          <h3>Sports<span>data</span></h3>
          <hr class="dotted" />
          <p>A few of the data measured by the Nike Fuelband are shown in the profile. They are responsive to the progress of the story and the decisions made by the user. </p>
        </div>
        <div class="unit third--two-three">
          <img width="639px" height="201px" src="images/nike/sports-data.png" alt="Sports data" />
        </div>
        <div class="clear"></div>
      </section><!-- section.sports-data -->

      <section class="best-shoes">
        <div class="unit third--one-two">
          <img width="638px" height="278px" src="images/nike/best-shoes.png" alt="The best shoes" />
        </div>
        <div class="unit third--three text">
          <h3>Product<span>placement</span></h3>
          <hr class="dotted" />
          <p>Along with the sports data, the current shoes of the character are responsive to his level and are showcased in the profile.</p>
        </div>
        <div class="clear"></div>
      </section><!-- section.best-shoes -->

      <section class="your-diary">
        <div class="unit third--one text">
          <h3>Your<span>diary</span></h3>
          <hr class="dotted" />
          <p>When the character has to make a crucial decision that will inflict on his future, his diary appears on the screen. The user is invited to a sentence, and our algorythm takes care of the following. </p>
        </div>
        <div class="unit third--two-three">
          <img width="628px" height="486px" src="images/nike/your-diary.png" alt="Your diary" />
        </div>
        <div class="clear"></div>
      </section><!-- section.your-diary -->

    </div><!-- div.grid -->
    <h2 class="final-design">Final <span>design</span></h2>
    <section class="slider">
      <nav>
        <ul>
          <li class="no-text active"></li>
          <li class="no-text"></li>
          <li class="no-text"></li>
          <li class="no-text"></li>
          <li class="no-text"></li>
          <li class="no-text"></li>
          <li class="no-text"></li>
          <li class="no-text"></li>
        </ul>
      </nav>
      <ul>
        <li class="grid active">
          <img width="1000px" height="700px" class="page" src="images/nike/final-design--1.png" alt="" />
          <img width="514px" height="477px" class="zoom center top" src="images/nike/final-design--1-zoom.png" alt="" />
        </li>
        <li class="grid">
          <img width="1000px" height="700px" class="page" src="images/nike/final-design--2.png" alt="" />
          <img width="514px" height="477px" class="zoom center bottom" src="images/nike/final-design--2-zoom.png" alt="" />
        </li>
        <li class="grid">
          <img width="1000px" height="700px" class="page" src="images/nike/final-design--3.png" alt="" />
          <img width="511px" height="477px"  class="zoom left bottom" src="images/nike/final-design--3-zoom.png" alt="" />
        </li>
        <li class="grid">
          <img width="1000px" height="700px" class="page" src="images/nike/final-design--4.png" alt="" />
          <img width="514px" height="477px"  class="zoom center bottom" src="images/nike/final-design--4-zoom.png" alt="" />
        </li>
        <li class="grid">
          <img width="1000px" height="700px" class="page" src="images/nike/final-design--5.png" alt="" />
          <img width="511px" height="477px"  class="zoom right bottom" src="images/nike/final-design--5-zoom.png" alt="" />
        </li>
        <li class="grid">
          <img width="1000px" height="700px" class="page" src="images/nike/final-design--6.png" alt="" />
          <img width="511px" height="514px"  class="zoom center bottom" src="images/nike/final-design--6-zoom.png" alt="" />
        </li>
        <li class="grid">
          <img width="1000px" height="700px" class="page" src="images/nike/final-design--7.png" alt="" />
          <img width="514px" height="477px"  class="zoom right top" src="images/nike/final-design--7-zoom.png" alt="" />
        </li>
        <li class="grid">
          <img width="1000px" height="700px" class="page" src="images/nike/final-design--8.png" alt="" />
          <img width="514px" height="514px"  class="zoom center top" src="images/nike/final-design--8-zoom.png" alt="" />
        </li>
      </ul>
    </section><!-- section.slider -->
  </section><!-- section.final-design -->
  <footer class="thanks">
    <h2>Thank you for watching.</h2>
  </footer>
</article><!-- article.project -->
