<article class="project nike">
  <header class="introduction">
    <ul class="meta grid">
      <li class="unit quarter">
        <h3>Role</h3>
        <hr class="mdash" />
        Lead Designer</li>
      <li class="unit quarter">
        <h3>Context</h3> 
        <hr class="mdash" />
        School Project</li>
      <li class="unit quarter">
        <h3>Date</h3> 
        <hr class="mdash" />
        December 2013</li>
      <li class="unit quarter">
        <h3>Platforms</h3> 
        <hr class="mdash" />
        Desktop</li>
    </ul><!-- ul.meta -->
    <div class="clear"></div>
    <h1><img src="images/nike/nike-logo.png" alt="Nike" /></h1>
    <h2>Life is all about the choices you make. <em>Embody a amateur runner<br />training for the NYC marathon, make decisions, write your story.</em></h2>
    <div class="arrow-bottom no-txt">
      Look down
    </div>
  </header><!-- header.introduction -->
  <section class="brief">
    <div class="grid">
      <h2 class="default"><span><span>1</span></span>Brief</h2>
      <hr class="dotted light" />
      <p class="introduction">“Nike - Écris ton histoire” is a fictive project : an interactive video experience through which the user lives the everyday-life of an amateur runner, makes decisions for him by writing into his diary, and sees the immediate outcome.</p>
      <hr class="dotted light" />
      <div class="rel">
        <img class="iso animate-1150" src="images/nike/nike-iso.png" alt="" />
      </div>
      <div class="clear"></div>
      <p class="unit half left">This is a project we had to do within a two weeks long period, from finding the idea to shipping the final product. I proudly did it with Julien Acquaviva, Kévin Chapron, Jim Laurie, Lucie Reitz and Jérémy Zaloga.</p>
      <p class="unit half right">I was responsible for all the design for this project, both UX and UI. Due to the really tight deadline, I had to deliver real quick and work closely with the front-end developer to make sure that the quality didn’t suffer the lack of time.</p>
      <div class="clear"></div>
    </div>
  </section><!-- section.brief -->
  <section class="design-guidelines">
    <div class="grid">
      <h2 class="default"><span><span>2</span></span>Design Guidelines</h2>
      <hr class="dotted purple" />
      <p class="introduction">The idea behind kolok is simple : getting the pain of managing expenses with your roomates out of the way and turn it into an enjoyable experience.<br />Therefore, i wanted the interfaces to be clear, precise and also joyful.</p>
      <hr class="dotted purple" />

      

      <section class="typography">
        <div class="unit third--one-two">
          <img src="images/nike/typography.png" alt="Typography" />
        </div>
        <div class="unit third--three">
          <h3>Bold &amp; Geometric<span>typography</span></h3>
          <p>Futura Std Condensed Bold is the most used typeface in Nike’s communication. It is bold, outspoken, prevailing.</p>
        </div>
        <div class="clear"></div>
      </section><!-- section.typography -->

      <section class="color-palette">
        <div class="unit third--one">
          <h3>Strong &amp; Powerful<span>color palette</span></h3>
          <p>Following the same philosophy as for the typographic choices, colors had to be uncompromising. I started with Nike’s orange and kept it in mind all the process.</p>
        </div>
        <div class="unit third--two-three">
          <img src="images/nike/color-palette.png" alt="Color palette" />
        </div>
        <div class="clear"></div>
      </section><!-- section.color-palette -->

    </div><!-- div.grid -->
  </section><!-- section.design-guidelines -->
  <section class="final-design end">
    <div class="grid">
      <h2 class="default"><span><span>3</span></span>Final design</h2>
      <hr class="dotted dark" />
      <p class="introduction">I had a lot of fun at every step of the process : from defining an effective framework to sweating the graphic details. I wanted the most discrete interface possible, and the video content to come first. But this was<br />not only about video : i had to think of ways of making the whole<br />
experience truly responsive and immersive.</p>
      <hr class="dotted dark" />

      <section class="chapters">
        <div class="unit third--one">
          <h3>Showing the progress<span>Chapters</span></h3>
          <p>Looking at the sticky bar, the user can appreciate his progress through the story and check out the chapters titles.</p>
        </div>
        <div class="unit third--two-three">
          <img src="images/nike/chapters.png" alt="Chapters" />
        </div>
        <div class="clear"></div>
      </section><!-- section.chapters -->

      <section class="all-about-you">
        <div class="unit third--one-two">
          <img src="images/nike/all-about-you.png" alt="All about you" />
        </div>
        <div class="unit third--three">
          <h3>Moar immersion<span>All about you</span></h3>
          <p>We wanted the experience to be about you, not anyone else. Users have their own profile, with their own info.</p>
        </div>
        <div class="clear"></div>
      </section><!-- section.all-about-you -->

      <section class="sports-data">
        <div class="unit third--one">
          <h3>It's you, upgraded<span>Sports data</span></h3>
          <p>A few of the data measured by the Nike Fuelband are shown in the profile. They are responsive to the progress of the story and the decisions made by the user. </p>
        </div>
        <div class="unit third--two-three">
          <img src="images/nike/sports-data.png" alt="Sports data" />
        </div>
        <div class="clear"></div>
      </section><!-- section.sports-data -->

      <section class="best-shoes">
        <div class="unit third--one-two">
          <img src="images/nike/best-shoes.png" alt="The best shoes" />
        </div>
        <div class="unit third--three">
          <h3>The best runner deserves<span>the best shoes</span></h3>
          <p>Along with the sports data, the current shoes of the character are responsive to his level and are showcased in the profile.</p>
        </div>
        <div class="clear"></div>
      </section><!-- section.best-shoes -->

      <section class="your-diary">
        <div class="unit third--one">
          <h3>Make choices by writing in<span>your diary</span></h3>
          <p>When the character has to make a crucial decision that will inflict on his future, his diary appears on the screen. The user is invited to a sentence, and our algorythm takes care of the following. </p>
        </div>
        <div class="unit third--two-three">
          <img src="images/nike/your-diary.png" alt="Your diary" />
        </div>
        <div class="clear"></div>
      </section><!-- section.your-diary -->

    </div><!-- div.grid -->
    <h2 class="final-design">Final <span>design</span></h2>
    <section class="slider">
      <nav>
        <ul>
          <li class="no-text active"></li>
          <li class="no-text"></li>
          <li class="no-text"></li>
          <li class="no-text"></li>
          <li class="no-text"></li>
          <li class="no-text"></li>
          <li class="no-text"></li>
          <li class="no-text"></li>
        </ul>
      </nav>
      <ul>
        <li class="grid active">
          <img class="page" src="images/nike/final-design--1.png" alt="" />
          <img class="zoom center top" src="images/nike/final-design--1-zoom.png" alt="" />
        </li>
        <li class="grid">
          <img class="page" src="images/nike/final-design--2.png" alt="" />
          <img class="zoom center bottom" src="images/nike/final-design--2-zoom.png" alt="" />
        </li>
        <li class="grid">
          <img class="page" src="images/nike/final-design--3.png" alt="" />
          <img class="zoom left bottom" src="images/nike/final-design--3-zoom.png" alt="" />
        </li>
        <li class="grid">
          <img class="page" src="images/nike/final-design--4.png" alt="" />
          <img class="zoom right bottom" src="images/nike/final-design--4-zoom.png" alt="" />
        </li>
        <li class="grid">
          <img class="page" src="images/nike/final-design--5.png" alt="" />
          <img class="zoom center top" src="images/nike/final-design--5-zoom.png" alt="" />
        </li>
        <li class="grid">
          <img class="page" src="images/nike/final-design--6.png" alt="" />
          <img class="zoom left top" src="images/nike/final-design--6-zoom.png" alt="" />
        </li>
        <li class="grid">
          <img class="page" src="images/nike/final-design--7.png" alt="" />
          <img class="zoom right top" src="images/nike/final-design--7-zoom.png" alt="" />
        </li>
        <li class="grid">
          <img class="page" src="images/nike/final-design--8.png" alt="" />
          <img class="zoom center top" src="images/nike/final-design--8-zoom.png" alt="" />
        </li>
      </ul>
    </section><!-- section.slider -->
  </section><!-- section.final-design -->
  <footer class="thanks">
    <h2>Thank you <em>very much</em> for watching!</h2>
  </footer>
</article><!-- article.project -->
