<header id="header">
  <div>
      <img src="images/jp@2x.png" width="22px" height="49px" alt="jipé" />
  </div>
  <h1>Julien Perrière</h1>
  <h2>Interactive Crétin</h2>
</header><!-- header#header -->
<nav id="nav">
  <ul>
    <li>
    <a href="/my-warner" data-project="my-warner"><span><i></i></span>My Warner</a></li>
    <li>
    <a href="/wdmtg" data-project="wdmtg"><span><i></i></span>WDMTG</a></li>
    <li>
    <a href="/game-of-thrones" data-project="game-of-thrones"><span><i></i></span>Game of Thrones</a></li>
    <li>
    <a href="/kolok" data-project="kolok"><span><i></i></span>Kolok</a></li>
    <li>
    <a href="/dreamcatcher" data-project="dreamcatcher"><span><i></i></span>Dreamcatcher</a></li>
    <li>
    <a href="/nike" data-project="nike"><span><i></i></span>Nike</a></li>
  </ul>
</nav><!-- nav#nav -->
<nav id="nav-infos">
  <ul>
      <li class="about"><span><i class="infos">i</i></span>About</li>
      <li class="contact"><span><i class="dots">&#8230;</i></span>Contact</li>
  </ul>
</nav><!-- nav.infos -->