<article class="project wdmtg">
  <header class="introduction">
    <ul class="meta">
      <li>
        <h3>Role</h3>
        Designer</li>
      <li>
        <h3>Context</h3> 
        Internship at Mfg Labs</li>
      <li>
        <h3>Date</h3> 
        July-September '13</li>
      <li>
        <h3>Platforms</h3> 
        Desktop, Tablet</li>
    </ul><!-- ul.meta -->
    <div class="clear"></div>
    <h1><img src="images/wdmtg/wdmtg-logo.png" alt="WDMTG" width="880px" height="182px"/></h1>
    <h2>A deep dive into big data to provide insightful<br />data visualizations of the spread of tweets.</h2>
    <div class="arrow no-txt">
      Look down
    </div>
  </header><!-- header.introduction -->
  <section class="brief">
    <div class="grid">
      <h2 class="default"><span>1</span>Mission</h2>
      <p class="introduction">Customers enjoy complete freedom in terms of the quantity of data they want to pay for. This meant creating a higly clear and transparent sign-up interface, to make this process as enjoyable as possible.</p>
      <div class="rel">
        <img class="iso animate-1150" width="1036px" height="529px" src="images/wdmtg/wdmtg-iso.png" alt="" />
      </div>
      <div class="clear"></div>
      <p class="unit half left">WDMTG is a in-house project by Mfg Labs. They had successfully launched a first version a few months earlier, and received tons of positive feedbacks. People wanted Mfg Labs to push the product further, it was time to create a Pro version of the service.</p>
      <p class="unit half right">The week I started working on the design, WDMTG was awarded a FWA : the challenge was be even more fun to take on. Under the direction of Martin Charpentier, I had to design the new screens of the Pro version, and harmonize the existing pages.</p>
      <div class="clear"></div>
    </div>
  </section><!-- section.brief -->
  <section class="pro-signup">
    <div class="grid">
      <h2 class="default"><span>2</span>Sign-up</h2>
      <p class="introduction">Customers enjoy complete freedom in terms of the quantity of data they want to pay for. This meant creating a higly clear and transparent sign-up interface, to make this process as enjoyable as possible.</p>
      
      <section class="process">
        <div class="unit third--one text">
          <h3>A step-by-step<span>Process</span></h3>
          <hr class="dotted" />
          <p>I chose to divide the registration in three distinct steps. This allows a better understanding of the final price, as well as explaining the several Pro settings along the way to the new customers.</p>
        </div>

        <div class="unit third--two-three rel">
          <img width="188px" height="188px" src="images/wdmtg/step-1.png" alt="Steps" />
          <img width="188px" height="188px" src="images/wdmtg/step-2.png" alt="Steps" />
          <img width="188px" height="188px" src="images/wdmtg/step-3.png" alt="Steps" />
        </div>
        <div class="clear"></div>
      </section><!-- section.process -->
      <section class="full-control">
        <div class="unit third--one-two">
          <img width="626px" height="133px" src="images/wdmtg/slider.png" alt="Slider" />
        </div>
        <div class="unit third--three text">
          <h3>Giving the user<span>full-control</span></h3>
          <hr class="dotted" />
          <p>Because the customers were meant to have complete control of their settings, I had to create interface elements that would create interactions.</p>
        </div>
        <div class="clear"></div>
      </section><!-- section.full-control -->
      <section class="visual-clues">
        <div class="unit third--one text">
          <h3>Providing some<span>visual clues</span></h3>
          <hr class="dotted" />
          <p>Simple visualizations helps the users to get a clear idea of the pricing at a glance. Those are tiny details that create altogether a better experience.</p>
        </div>
        <div class="unit third--two-three">
          <img width="579px" height="208px" src="images/wdmtg/visual-clues.png" alt="Visual clues" />
        </div>
        <div class="clear"></div>
      </section><!-- section.visual-clues -->
    </div><!-- div.grid -->
    <section class="final-design">
      <h2 class="final-design">Final <span>design</span></h2>
      <section class="slider">
        <nav>
          <ul>
            <li class="no-text active"></li>
            <li class="no-text"></li>
            <li class="no-text"></li>
            <li class="no-text"></li>
          </ul>
        </nav>
        <div>
          <ul class="grid">
            <li class="active">
              <img width="1000px" height="700px" class="page" src="images/wdmtg/pro-signup--final-design--1.png" alt="" />
              <img width="514px" height="514px" class="zoom top left" src="images/wdmtg/pro-signup--final-design--1-zoom.png" alt="" />
            </li>
            <li>
              <img width="1000px" height="700px" class="page" src="images/wdmtg/pro-signup--final-design--2.png" alt="" />
              <img width="514px" height="514px" class="zoom bottom center" src="images/wdmtg/pro-signup--final-design--2-zoom.png" alt="" />
            </li>
            <li>
              <img width="1000px" height="700px" class="page" src="images/wdmtg/pro-signup--final-design--3.png" alt="" />
              <img width="514px" height="514px" class="zoom bottom left" src="images/wdmtg/pro-signup--final-design--3-zoom.png" alt="" />
            </li>
            <li>
              <img width="1000px" height="700px" class="page" src="images/wdmtg/pro-signup--final-design--4.png" alt="" />
              <img width="514px" height="514px" class="zoom top center" src="images/wdmtg/pro-signup--final-design--4-zoom.png" alt="" />
            </li>
          </ul>
        </div>
      </section><!-- section.slider -->
    </section><!-- section.final-design -->
  </section><!-- section.pro-signup -->
  <section class="custom-feeds">
    <div class="grid">
      <h2 class="default"><span><span>3</span></span>Custom feeds</h2>
      <p class="introduction">Pro users are able to create feeds with their own settings, they can monitor the tweets on any keywords and twitter user. the challenge was to create a clear, yet very powerful interface to ease the administration and monitor the data consumption of these custom feeds.</p>
      
      <section class="powerful-tool">
        <div class="unit third--one-two rel">
          <img width="604px" height="258px" src="images/wdmtg/interface-1.png" alt="Form" />
          <img width="604px" height="210px" src="images/wdmtg/interface-2.png" alt="Form" />

        </div>
        <div class="unit third--three text">
          <h3>Minimalistic<span>interface</span></h3>
          <hr class="dotted" />
          <p>The necessary tools appear at the very right moment. I had to get rid of the technical complexity of the settings of the custom feeds to create a minimalistic interface.</p>
        </div>
        <div class="clear"></div>
      </section><!-- section.powerful-tool -->
      <section class="feeds">
        <div class="unit third--one text">
          <h3>Monitor<span>&amp; Organize</span></h3>
          <hr class="dotted" />
          <p>Users can create as many feeds as they want. That could mean : a lot ! As a consequence, the overview of these needed to feature the right amount of information in a very understandable way.</p>
        </div>
        <div class="unit third--two-three rel">
          <img width="185px" height="394px" src="images/wdmtg/feeds-1.png" height="394px" alt="Feeds" />
          <img width="184px" height="394px" src="images/wdmtg/feeds-2.png" height="394px" alt="Feeds" />
          <img width="304px" height="394px" src="images/wdmtg/feeds-3.png" height="394px" alt="Feeds" />
        </div>
        <div class="clear"></div>
      </section><!-- section.feeds -->
      <section class="top-up">
        <div class="unit third--one-two rel">
          <img width="624px" height="80px" src="images/wdmtg/top-up-1.png" alt="Top up" />
          <img width="374px" height="248px" src="images/wdmtg/top-up-2.png" alt="Top up" />
          <img width="374px" height="181px" src="images/wdmtg/top-up-3.png" alt="Top up" />
          <div class="clear"></div>
        </div>
        <div class="unit third--three text">
          <h3>Need more fuel?<span>Top up!</span></h3>
          <hr class="dotted" />
          <p>No reccuring cost means an hassle-free way to get more data to consume. At any moment, customers can top up their stockpile of tweets in the most easy and way possible.</p>
        </div>
        
      </section><!-- section.top-up -->
    </div><!-- div.grid -->
    <section class="final-design end">
      <h2 class="final-design">Final <span>design</span></h2>
      <section class="slider">
        <nav>
          <ul>
            <li class="no-text active"></li>
            <li class="no-text"></li>
            <li class="no-text"></li>
            <li class="no-text"></li>
            <li class="no-text"></li>
            <li class="no-text"></li>
            <li class="no-text"></li>
          </ul>
        </nav>
        <div>
          <ul class="grid">
            <li class="active">
              <img width="1000px" height="700px" class="page" src="images/wdmtg/custom-feeds--final-design--1.png" alt="" />
              <img width="514px" height="514px"  class="zoom top right" src="images/wdmtg/custom-feeds--final-design--1-zoom.png" alt="" />
            </li>
            <li>
              <img width="1000px" height="700px" class="page" src="images/wdmtg/custom-feeds--final-design--2.png" alt="" />
              <img width="514px" height="514px"  class="zoom top left" src="images/wdmtg/custom-feeds--final-design--2-zoom.png" alt="" />
            </li>
            <li>
              <img width="1000px" height="700px" class="page" src="images/wdmtg/custom-feeds--final-design--3.png" alt="" />
              <img width="514px" height="514px"  class="zoom top right" src="images/wdmtg/custom-feeds--final-design--3-zoom.png" alt="" />
            </li>
            <li>
              <img width="1000px" height="700px" class="page" src="images/wdmtg/custom-feeds--final-design--4.png" alt="" />
              <img width="514px" height="514px"  class="zoom top center" src="images/wdmtg/custom-feeds--final-design--4-zoom.png" alt="" />
            </li>
            <li>
              <img width="1000px" height="700px" class="page" src="images/wdmtg/custom-feeds--final-design--5.png" alt="" />
              <img width="514px" height="514px"  class="zoom top center" src="images/wdmtg/custom-feeds--final-design--5-zoom.png" alt="" />
            </li>
            <li>
              <img width="1000px" height="700px" class="page" src="images/wdmtg/custom-feeds--final-design--6.png" alt="" />
              <img width="514px" height="514px"  class="zoom top center" src="images/wdmtg/custom-feeds--final-design--6-zoom.png" alt="" />
            </li>
            <li>
              <img width="1000px" height="700px" class="page" src="images/wdmtg/custom-feeds--final-design--6.png" alt="" />
              <img width="514px" height="514px"  class="zoom bottom right" src="images/wdmtg/custom-feeds--final-design--6-zoom.png" alt="" />
            </li>
          </ul>
        </div>
      </section><!-- section.slider -->
    </section><!-- section.final-design -->
  </section><!-- section.custom-feeds -->
  
  <footer class="thanks">
    <h2>Thank you for watching.</h2>
    <!--<a href="http://www.wdmtg.com">Visit <span>wdmtg.com</span></a>-->
  </footer><!-- footer.thanks -->
  
</article><!-- article.project -->
<nav id="next-project" class="game-of-thrones">
  <div></div>
  <a href="/game-of-thrones" data-project="game-of-thrones">
    <h1>
      Next project
      <span class="no-txt">Game Of Thrones</span>
    </h1>
  </a>
</nav>