<article class="project wdmtg">
  <header class="introduction">
    <ul class="meta grid">
      <li class="unit quarter">
        <h3>Role</h3>
        <hr class="mdash" />
        Designer</li>
      <li class="unit quarter">
        <h3>Context</h3> 
        <hr class="mdash" />
        Internship<br />at Mfg Labs</li>
      <li class="unit quarter">
        <h3>Date</h3> 
        <hr class="mdash" />
        July to<br />September 2013</li>
      <li class="unit quarter">
        <h3>Platforms</h3> 
        <hr class="mdash" />
        Desktop,<br />iPad (fluid grid)</li>
    </ul><!-- ul.meta -->
    <div class="clear"></div>
    <h1><img src="images/wdmtg/wdmtg-logo.png" alt="WDMTG" /></h1>
    <h2>A deep dive into big data <em>to provide insightful</em><br /><em>data visualizations of the spread of tweets.</em></h2>
    <div class="arrow-bottom no-txt">
      Look down
    </div>
  </header><!-- header.introduction -->
  <section class="brief">
    <div class="grid">
      <h2 class="default"><span><span>1</span></span>Brief</h2>
      <hr class="dotted" />
      <p class="introduction">Where Does My Tweet Go selects the most interesting tweets for any given subject, sorted by their “SpreadRank”, and then creates interactive visualizations of their journey across the Internet. </p>
      <hr class="dotted" />
      <div class="rel">
        <img class="iso animate-1150" src="images/wdmtg/wdmtg-iso.png" alt="" />
      </div>
      <div class="clear"></div>
      <p class="unit half">WDMTG is a in-house project by Mfg Labs. They had successfully launched a first version a few months earlier, and received tons of positive feedbacks. People wanted Mfg Labs to push the product further, it was time to create a Pro version of the service.</p>
      <p class="unit half">The week I started working on the design, WDMTG was awarded a FWA : the challenge was be even more fun to take on. Under the direction of Martin Charpentier, I had to design the new screens of the Pro version, and harmonize the existing pages.</p>
      <div class="clear"></div>
    </div>
  </section><!-- section.brief -->
  <section class="pro">
    <h3>Time to go</h3>
    <img src="images/wdmtg/wdmtg-pro.png" alt="Time to go pro" />
  </section>
  <section class="pro-signup">
    <div class="grid">
      <h2 class="default"><span><span>2</span></span>Pro Sign-up</h2>
      <hr class="dotted" />
      <p class="introduction">Customers enjoy complete freedom in terms of the quantity of data they want to pay for. This meant creating a higly clear and transparent sign-up interface, to make this process as enoyable and frictionless as possible.</p>
      <hr class="dotted" />
      
      <section class="process">
        <div class="unit third--one">
          <h3>A step-by-step<span>Process</span></h3>
          <p>I chose to divide the registration in three distinct steps. This allows a better understanding of the final price, as well as explaining the several Pro settings along the way to the new customers.</p>
        </div>

        <div class="unit third--two-three">
          <img src="images/wdmtg/steps.png" alt="Steps" />
        </div>
        <div class="clear"></div>
      </section><!-- section.process -->
      <section class="full-control">
        <div class="unit third--one-two">
          <img src="images/wdmtg/slider.png" alt="Slider" />
        </div>
        <div class="unit third--three">
          <h3>Giving the user<span>full-control</span></h3>
          <p>Because the customers were meant to have complete control of their settings, I had to create interface elements that would create interactions.</p>
        </div>
        <div class="clear"></div>
      </section><!-- section.full-control -->
      <section class="visual-clues">
        <div class="unit third--one">
          <h3>Providing customers with<span>visual clues</span></h3>
          <p>Simple visualizations helps the users to get a clear idea of the pricing at a glance. Those are tiny details that create altogether a better experience.</p>
        </div>
        <div class="unit third--two-three">
          <img src="images/wdmtg/pricing.png" alt="Pricing" />
        </div>
        <div class="clear"></div>
      </section><!-- section.visual-clues -->
    </div><!-- div.grid -->
    <section class="final-design">
      <h2 class="final-design">Final<i class="lightning">ACCIO FINAL DESIGN</i><span>design</span></h2>
      <section class="slider">
        <nav>
          <ul>
            <li class="no-text active"></li>
            <li class="no-text"></li>
            <li class="no-text"></li>
          </ul>
        </nav>
        <ul>
          <li class="grid active">
            <img class="page" src="images/wdmtg/pro-signup--final-design--1.png" alt="" />
            <img class="zoom left" src="images/wdmtg/pro-signup--final-design--1-zoom.png" alt="" />
          </li>
          <li class="grid">
            <img class="page" src="images/wdmtg/pro-signup--final-design--2.png" alt="" />
            <img class="zoom left" src="images/wdmtg/pro-signup--final-design--2-zoom.png" alt="" />
          </li>
          <li class="grid">
            <img class="page" src="images/wdmtg/pro-signup--final-design--3.png" alt="" />
            <img class="zoom right" src="images/wdmtg/pro-signup--final-design--3-zoom.png" alt="" />
          </li>
        </ul>
      </section><!-- section.slider -->
    </section><!-- section.final-design -->
  </section><!-- section.pro-signup -->
  <section class="custom-feeds">
    <div class="grid">
      <h2 class="default"><span><span>3</span></span>Custom feeds</h2>
      <hr class="dotted" />
      <p class="introduction">Pro users are able to create feeds with their own settings, they can monitor the tweets on any keywords and twitter user. the challenge was to create a clear, yet very powerful interface to ease the administration and monitor the data consumption of these custom feeds.</p>
      <hr class="dotted" />
      
      <section class="powerful-tool">
        <div class="unit third--one-two rel">
          <img src="images/wdmtg/form.png" alt="Form" />
        </div>
        <div class="unit third--three">
          <h3>Minimalistic interface,<span>powerful tool</span></h3>
          <p>The necessary tools appear at the very right moment. I had to get rid of the technical complexity of the settings of the custom feeds to create a minimalistic interface.</p>
        </div>
        <div class="clear"></div>
      </section><!-- section.powerful-tool -->
      <section class="feeds">
        <div class="unit third--one">
          <h3>Monitor &amp; Organize<span>your feeds</span></h3>
          <p>Users can create as many feeds as they want. That could mean : a lot ! As a consequence, the overview of these needed to feature the right amount of information in a very understandable way.</p>
        </div>
        <div class="unit third--two-three">
          <img src="images/wdmtg/feeds.png" alt="Feeds" />
        </div>
        <div class="clear"></div>
      </section><!-- section.feeds -->
      <section class="top-up">
        <div class="unit third--one-two">
          <img src="images/wdmtg/top-up.png" alt="Top up" />
        </div>
        <div class="unit third--three">
          <h3>Need more fuel?<span>Top up!</span></h3>
          <p>No reccuring cost means an hassle-free way to get more data to consume. At any moment, customers can top up their stockpile of tweets in the most easy and way possible.</p>
        </div>
        <div class="clear"></div>
      </section><!-- section.top-up -->
    </div><!-- div.grid -->
    <section class="final-design end">
      <h2 class="final-design">Final<i class="lightning">ACCIO FINAL DESIGN</i><span>design</span></h2>
      <section class="slider">
        <nav>
          <ul>
            <li class="no-text active"></li>
            <li class="no-text"></li>
            <li class="no-text"></li>
            <li class="no-text"></li>
            <li class="no-text"></li>
          </ul>
        </nav>
        <ul>
          <li class="grid active">
            <img class="page" src="images/wdmtg/custom-feeds--final-design--1.png" alt="" />
            <img class="zoom left" src="images/wdmtg/custom-feeds--final-design--1-zoom.png" alt="" />
          </li>
          <li class="grid">
            <img class="page" src="images/wdmtg/custom-feeds--final-design--2.png" alt="" />
            <img class="zoom right" src="images/wdmtg/custom-feeds--final-design--2-zoom.png" alt="" />
          </li>
          <li class="grid">
            <img class="page" src="images/wdmtg/custom-feeds--final-design--3.png" alt="" />
            <img class="zoom right" src="images/wdmtg/custom-feeds--final-design--3-zoom.png" alt="" />
          </li>
          <li class="grid">
            <img class="page" src="images/wdmtg/custom-feeds--final-design--4.png" alt="" />
            <img class="zoom right" src="images/wdmtg/custom-feeds--final-design--4-zoom.png" alt="" />
          </li>
          <li class="grid">
            <img class="page" src="images/wdmtg/custom-feeds--final-design--5.png" alt="" />
            <img class="zoom right" src="images/wdmtg/custom-feeds--final-design--5-zoom.png" alt="" />
          </li>
        </ul>
      </section><!-- section.slider -->
    </section><!-- section.final-design -->
  </section><!-- section.custom-feeds -->
  
  <footer class="thanks">
    <h2>Thank you <em>very much</em> for watching!</h2>
    <a href="http://www.wdmtg.com">Visit <span>wdmtg.com</span></a>
  </footer><!-- footer.thanks -->
  
</article><!-- article.project -->
<nav id="next-project" data-url="page.html" >
  <a href="#">Next project</a>
</nav>
