/* @group Fonts */

/* @font-face {
	font-family: 'Arapey';
	src: url(../fonts/Arapey-Regular.ttf);
	font-style: normal;
}

@font-face {
	font-family: 'Arapey';
	src: url(../fonts/Arapey-Italic.ttf);
	font-style: italic;
}
 */

/* Arapey */
@import url(http://fonts.googleapis.com/css?family=Arapey:400italic,400);

@font-face {
	font-family: 'NeutraDisplay';
	src: url(../fonts/NeutraDisplay-Bold.otf);
	font-weight: 600;
}

@font-face {
	font-family: 'NeutraDisplay';
	src: url(../fonts/NeutraDisplay-Titling.otf);
	font-weight: 700;
}
@font-face {
	font-family: 'NeutraDisplay';
	src: url(../fonts/NeutraDisplay-Thin.otf);
	font-weight: 200;
}
@font-face {
	font-family: 'NeutraDisplay';
	src: url(../fonts/NeutraDisplay-Light.otf);
	font-weight: 300;
}
@font-face {
	font-family: 'NeutraText';
	src: url(../fonts/NeutraText-BookSC.otf);
	font-weight: normal;
	font-variant: small-caps;	
}
@font-face {
	font-family: 'NeutraText';
	src: url(../fonts/NeutraTextTF-Book.otf);
	font-weight: normal;
}
@font-face {
	font-family: 'NeutraText';
	src: url(../fonts/NeutraText-BookItalic.otf);
	font-weight: normal;
	font-style: italic;
}



@font-face {
	font-family: 'NeutraText';
	src: url(../fonts/NeutraTextTF-Light.otf);
	font-weight: 300;
}

@font-face {
	font-family: 'NeutraText';
	src: url(../fonts/NeutraText-LightSCItalic.otf);
	font-weight: 300;
	font-variant: small-caps;
	font-style: italic;
}


@font-face {
	font-family: 'NeutraText';
	src: url(../fonts/NeutraText-Bold.otf);
	font-weight: 700;
}

@font-face {
	font-family: 'Bodoni';
	src: url(../fonts/BodoniStd-PosterItalic.otf);
	font-style: italic;
}

/* Source Sans Pro */
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,300italic,400italic,600italic);

/* Open Sans */
/*@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);*/
/* @font-face {
	font-family: 'OpenSans';
	src: url(../fonts/OpenSans-Regular.ttf);
	font-weight: normal
}

@font-face {
	font-family: 'OpenSans';
	src: url(../fonts/OpenSans-Light.ttf);
	font-weight: 300;
}

@font-face {
	font-family: 'OpenSans';
	src: url(../fonts/OpenSans-Bold.ttf);
	font-weight: 700;
}
 */
/* @end of Fonts */